alias g="git"
alias h="history"
alias v="vim"
alias s="subl ."
alias o="open"
alias oo="open ."
alias fuck='sudo $(fc -ln -1)' 

# some more ls aliases
alias ll='ls -lh'
alias l='ls -aFhlG'

# disk space usage
alias ducks='du -cks * | sort -rn | head'
alias duh='du -cksh *'

# Symfony
alias sf='php bin/console'
alias dev='php bin/console --env=dev'
alias prod='php bin/console --env=prod'
alias sfserv='php bin/console server:run --env=dev'

# NPM
alias grunt='$(pwd)/node_modules/.bin/grunt'
alias bower='$(pwd)/node_modules/.bin/bower'

# Misc
alias meteo='curl -4 wttr.in/Lyon'
