alias g="git"
alias h="history"
alias v="vim"
alias o="open"
alias oo="open ."
alias fuck='sudo !!' 

# some more ls aliases
alias ll='ls -lh'
alias l='ls -aFhlG'

# disk space usage
alias ducks='du -cks * | sort -rn | head'
alias duh='du -cksh *'

# Symfony
alias sf='php bin/console'

#docker
alias clean-docker='docker stop $(docker ps -q) && docker rm $(docker ps -aq) &&  docker system prune --force'

# Misc
alias meteo='curl -4 wttr.in/Lyon'
gifsearch() { 
    open "https://google.com/search?q=$1&tbm=isch&tbs=itp:animated" 
}
