[user]
	name = skwi
	email = cedric.spalvieri@gmail.com

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	tool = vimdiff

[alias]
        alias = config --get-regexp ^alias\\.
        co = checkout
        sdiff = diff --staged
        wdiff = diff --color-words
        stat = status -sb
        plog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\" 
        tags = tag -l --column=auto
        amend = commit --amend -C HEAD
        real-blame = log -p -M --follow --stat -- 
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        ignore-filemode = config core.fileMode false
        unignore-filemode = config core.fileMode true
        please = push --force-with-lease

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

[push]
	default = upstream

[init]
	templatedir = ~/.git_template

[core]
	excludesfile = ~/.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[status]
	showUntrackedFiles = all
[diff]
	wordRegex = .
[http]
	postBuffer = 524288000
[pull]
	rebase = preserve
